RewriteEngine On

# Remove Google Analytics / tracking parameters from URL
RewriteCond %{HTTP_HOST} ^recency\.skyproaviation\.org$ [NC]
RewriteCond %{QUERY_STRING} (^|&)(_gl|_ga|_ga_[^&]*)=[^&]*(&|$)
RewriteRule ^(.*)$ /$1? [R=301,L]